<a href="https://colab.research.google.com/github/IlyaZutler/Project-3-Berlin-Airbnb-Ratings/blob/main/7%20Feature%20selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Feature Engineering & Feature selection**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

!pip install openpyxl -q
import openpyxl
import pickle

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# for grid
!pip install geopy -q
from geopy.distance import geodesic

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Now CatBoost
!pip install catboost -q
from catboost import CatBoostRegressor, Pool
# Now XGBoost
import xgboost as xgb

# Set display options
%matplotlib inline
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', 1000)

In [ ]:
# apartments = pd.read_excel('https://raw.githubusercontent.com/IlyaZutler/Project-3-Berlin-Airbnb-Ratings/main/apartments_5.xlsx', engine='openpyxl')

In [14]:
# import pickle

!wget https://github.com/IlyaZutler/Project-3-Berlin-Airbnb-Ratings/raw/main/apartments5.pkl -q

with open('apartments5.pkl', 'rb') as f:
    apartments = pickle.load(f)

!wget https://github.com/IlyaZutler/Project-3-Berlin-Airbnb-Ratings/raw/main/lat_bin.pkl -q
!wget https://github.com/IlyaZutler/Project-3-Berlin-Airbnb-Ratings/raw/main/lon_bin.pkl -q

with open('lat_bin.pkl', 'rb') as f:
    lat_bin = pickle.load(f)

with open('lon_bin.pkl', 'rb') as f:
    lon_bin = pickle.load(f)

In [4]:
apartments.shape

(19664, 44)

In [15]:
apartments.drop(columns=['Host Since','First Review', 'Last Review','Reviews', 'Price Log', 'Latitude_Bin', 'Longitude_Bin' ], inplace=True)

In [16]:
apartments['Is Superhost'] = apartments['Is Superhost'].replace({'t': 1, 'f': 0}).fillna(0).astype(int)
apartments['Instant Bookable'] = apartments['Instant Bookable'].replace({'t': 1, 'f': 0}).fillna(0).astype(int)
apartments['Is Exact Location'] = apartments['Is Exact Location'].replace({'t': 1, 'f': 0}).fillna(0).astype(int)
apartments['Property Type'] = apartments['Property Type'].replace({'Apartment': 1, 'Condominium': 0}).fillna(0).astype(int)
apartments['Room Type'] = apartments['Room Type'].replace({'Private room': 1, 'Entire home/apt': 0}).fillna(0).astype(int)

apartments['Host Response Time'] = apartments['Host Response Time'].replace(
    {'within an hour':0, 'within a few hours': 1, 'within a day': 2, 'a few days or more': 3 }).fillna(0).astype(int)

In [20]:
categorical_cols = apartments.select_dtypes(exclude='number').columns
for col in categorical_cols:
  print(f"Value counts for column '{col}' :")
  print(apartments[col].value_counts())
  print(f"NaN values: {apartments[col].isnull().sum()} ")
  print()
  print()

Value counts for column 'Listing ID' :
Listing ID
10002699    1
30934593    1
30947505    1
30946969    1
30946705    1
           ..
20716366    1
20716294    1
20710491    1
20710283    1
9996186     1
Name: count, Length: 19664, dtype: int64
NaN values: 0


Value counts for column 'neighbourhood' :
neighbourhood
NeukÃ¶lln                3182
Prenzlauer Berg          2550
Kreuzberg                2509
Friedrichshain           2460
Mitte                    1749
Wedding                  1316
SchÃ¶neberg               935
Moabit                    715
Charlottenburg            696
Wilmersdorf               400
Pankow                    272
Rummelsburg               223
Tempelhof                 220
WeiÃensee                181
Lichtenberg               166
Alt-Treptow               156
Tiergarten                153
Steglitz                  135
Reinickendorf             133
Westend                    89
Lichterfelde               89
Friedenau                  77
Baumschulenweg             70
Britz                      64
Friedrichsfelde            59
Zehlendorf                 55
Halensee                   53
Fennpfuhl                  50
PlÃ¤nterwald               50
NiederschÃ¶nhausen         48
Mariendorf                 44
OberschÃ¶neweide           40
Hansaviertel               40
Grunewald                  37
Potsdamer Platz            37
Karlshorst                 37
KÃ¶penick                  34
Alt-HohenschÃ¶nhausen      31
Schmargendorf              29
Tegel                      23
Adlershof                  22
Lichtenrade                21
Wittenau                   21
NiederschÃ¶neweide         19
Friedrichshagen            19
Nikolassee                 19
Dahlem                     19
Marzahn                    18
Wannsee                    16
Buckow                     16
Johannisthal               14
Hellersdorf                14
Lankwitz                   14
Charlottenburg-Nord        13
Rudow                      13
Rahnsdorf                  13
Wilhelmstadt               12
Mahlsdorf                  12
Marienfelde                11
Gropiusstadt               11
Biesdorf                   11
Buch                       10
Wilhelmsruh                 8
MÃ¤rkisches Viertel         8
Spandau                     8
FranzÃ¶sisch Buchholz       8
Karow                       7
Neu-HohenschÃ¶nhausen       7
SchmÃ¶ckwitz                6
Heinersdorf                 6
Altglienicke                6
Staaken                     6
Hakenfelde                  5
Kladow                      5
Siemensstadt                5
Rosenthal                   5
GrÃ¼nau                     5
Falkenhagener Feld          4
Frohnau                     4
Heiligensee                 3
Hermsdorf                   3
Kaulsdorf                   3
Waidmannslust               2
Haselhorst                  2
Blankenburg                 1
MÃ¼ggelheim                 1
Falkenberg                  1
Name: count, dtype: int64
NaN values: 0


Value counts for column 'Neighborhood Group' :
Neighborhood Group
Friedrichshain-Kreuzberg    4975
Mitte                       4001
NeukÃ¶lln                   3288
Pankow                      3100
Charlottenburg-Wilm.        1318
Tempelhof - SchÃ¶neberg     1305
Lichtenberg                  573
Treptow - KÃ¶penick          455
Steglitz - Zehlendorf        347
Reinickendorf                197
Marzahn - Hellersdorf         58
Spandau                       47
Name: count, dtype: int64
NaN values: 0


Value counts for column 'Postal Code' :
Postal Code
10245.0    855
10247.0    749
10437.0    658
10115.0    580
10999.0    542
10405.0    517
10997.0    517
10439.0    507
10119.0    485
10967.0    469
10249.0    461
12049.0    440
12051.0    439
12045.0    412
10243.0    407
12047.0    400
10435.0    384
12053.0    377
12043.0    374
10961.0    359
12059.0    346
12055.0    335
10407.0    328
10965.0    295
13353.0    290
13357.0    274
10178.0    253
10117.0    248
13347.0    245
10179.0    230
10317.0    213
13359.0    212
10969.0    197
10559.0    190
12435.0    190
10963.0    187
10551.0    184
10829.0    172
10827.0    171
10555.0    149
10785.0    135
10557.0    134
10777.0    133
10409.0    131
13189.0    127
13187.0    127
10365.0    118
14059.0    117
13086.0    107
10781.0    106
13351.0    105
10627.0     98
10553.0     97
13355.0     97
10783.0     90
12099.0     86
10585.0     84
12437.0     82
10823.0     79
10715.0     78
13088.0     77
10717.0     76
14057.0     73
10589.0     69
13349.0     66
12103.0     65
10629.0     65
10587.0     65
13409.0     65
10707.0     64
10367.0     62
10787.0     62
10625.0     59
12101.0     57
10719.0     57
10711.0     57
12161.0     57
13407.0     55
10713.0     55
12157.0     52
12163.0     51
12159.0     50
10315.0     50
10825.0     49
10623.0     48
13156.0     47
10779.0     41
14197.0     41
12347.0     40
12459.0     40
12203.0     39
12057.0     37
10318.0     37
10789.0     37
10709.0     35
10369.0     31
14193.0     30
12167.0     30
13055.0     29
12105.0     28
12555.0     26
14195.0     24
14052.0     23
10319.0     23
13403.0     23
14129.0     23
12359.0     22
14050.0     22
12489.0     22
13507.0     19
12587.0     19
14169.0     19
13125.0     19
12169.0     19
12109.0     19
12439.0     19
12207.0     18
12205.0     17
14199.0     17
13158.0     15
13509.0     14
12487.0     14
12353.0     14
14163.0     14
13627.0     13
14055.0     13
14109.0     12
12589.0     12
12209.0     11
12305.0     11
14167.0     11
12527.0     11
12683.0     11
13595.0     10
12623.0     10
12247.0     10
12107.0      9
12165.0      9
12277.0      9
13437.0      8
13127.0      8
13405.0      8
12627.0      7
14165.0      7
12355.0      7
12351.0      7
13089.0      6
12309.0      6
12557.0      6
12357.0      6
12685.0      6
12524.0      6
13435.0      6
14089.0      5
13059.0      5
13629.0      5
12307.0      5
12619.0      5
12249.0      5
13593.0      5
13585.0      5
12679.0      5
12349.0      5
13587.0      5
13465.0      4
12621.0      4
12687.0      4
12629.0      4
13583.0      3
14482.0      3
12681.0      3
13591.0      3
13469.0      3
12559.0      3
13467.0      3
13581.0      2
12279.0      2
13503.0      2
13051.0      2
13599.0      2
13053.0      2
13589.0      2
13439.0      2
12046.0      2
15537.0      1
16761.0      1
10347.0      1
10176.0      1
14507.0      1
13129.0      1
16341.0      1
13597.0      1
13057.0      1
15366.0      1
14053.0      1
1043.0       1
12009.0      1
10436.0      1
Name: count, dtype: int64
NaN values: 0

In [23]:
# prompt: значения 'neighbourhood' по которым менее 10 наблюдений заменить на "other"

neighbourhood_counts = apartments['neighbourhood'].value_counts()
apartments['neighbourhood'] = np.where(apartments['neighbourhood'].isin(neighbourhood_counts[neighbourhood_counts >= 10].index), apartments['neighbourhood'], 'Other')

Postal_counts = apartments['Postal Code'].value_counts()
apartments['Postal Code'] = np.where(apartments['Postal Code'].isin(Postal_counts[Postal_counts >= 10].index), apartments['Postal Code'], 'Other')
Postal_counts

Postal Code
10245.0    855
10247.0    749
10437.0    658
10115.0    580
10999.0    542
10405.0    517
10997.0    517
10439.0    507
10119.0    485
10967.0    469
10249.0    461
12049.0    440
12051.0    439
12045.0    412
10243.0    407
12047.0    400
10435.0    384
12053.0    377
12043.0    374
10961.0    359
12059.0    346
12055.0    335
10407.0    328
10965.0    295
13353.0    290
13357.0    274
10178.0    253
10117.0    248
13347.0    245
10179.0    230
10317.0    213
13359.0    212
10969.0    197
10559.0    190
12435.0    190
10963.0    187
10551.0    184
10829.0    172
10827.0    171
10555.0    149
10785.0    135
10557.0    134
10777.0    133
10409.0    131
13189.0    127
13187.0    127
10365.0    118
14059.0    117
13086.0    107
10781.0    106
13351.0    105
10627.0     98
10553.0     97
13355.0     97
10783.0     90
12099.0     86
10585.0     84
12437.0     82
10823.0     79
10715.0     78
13088.0     77
10717.0     76
14057.0     73
10589.0     69
13349.0     66
12103.0     65
10629.0     65
10587.0     65
13409.0     65
10707.0     64
10367.0     62
10787.0     62
10625.0     59
12101.0     57
10719.0     57
10711.0     57
12161.0     57
13407.0     55
10713.0     55
12157.0     52
12163.0     51
12159.0     50
10315.0     50
10825.0     49
10623.0     48
13156.0     47
10779.0     41
14197.0     41
12347.0     40
12459.0     40
12203.0     39
12057.0     37
10318.0     37
10789.0     37
10709.0     35
10369.0     31
14193.0     30
12167.0     30
13055.0     29
12105.0     28
12555.0     26
14195.0     24
14052.0     23
10319.0     23
13403.0     23
14129.0     23
12359.0     22
14050.0     22
12489.0     22
13507.0     19
12587.0     19
14169.0     19
13125.0     19
12169.0     19
12109.0     19
12439.0     19
12207.0     18
12205.0     17
14199.0     17
13158.0     15
13509.0     14
12487.0     14
12353.0     14
14163.0     14
13627.0     13
14055.0     13
14109.0     12
12589.0     12
12209.0     11
12305.0     11
14167.0     11
12527.0     11
12683.0     11
13595.0     10
12623.0     10
12247.0     10
12107.0      9
12165.0      9
12277.0      9
13437.0      8
13127.0      8
13405.0      8
12627.0      7
14165.0      7
12355.0      7
12351.0      7
13089.0      6
12309.0      6
12557.0      6
12357.0      6
12685.0      6
12524.0      6
13435.0      6
14089.0      5
13059.0      5
13629.0      5
12307.0      5
12619.0      5
12249.0      5
13593.0      5
13585.0      5
12679.0      5
12349.0      5
13587.0      5
13465.0      4
12621.0      4
12687.0      4
12629.0      4
13583.0      3
14482.0      3
12681.0      3
13591.0      3
13469.0      3
12559.0      3
13467.0      3
13581.0      2
12279.0      2
13503.0      2
13051.0      2
13599.0      2
13053.0      2
13589.0      2
13439.0      2
12046.0      2
15537.0      1
16761.0      1
10347.0      1
10176.0      1
14507.0      1
13129.0      1
16341.0      1
13597.0      1
13057.0      1
15366.0      1
14053.0      1
1043.0       1
12009.0      1
10436.0      1
Name: count, dtype: int64

# CatBoost feature importance

for CatBost no nessery

In [27]:
X = apartments.drop(['Listing ID', 'Price'], axis=1)
y = apartments['Price']

In [25]:
# X[['Overall Rating', 'Accuracy Rating',  'Cleanliness Rating', 'Checkin Rating',
#    'Communication Rating',  'Location Rating', 'Value Rating', 'Polarity_min',
#    'Polarity_max', 'Polarity_median', 'Polarity_mean']] = \
# X[['Overall Rating', 'Accuracy Rating',  'Cleanliness Rating', 'Checkin Rating',
#    'Communication Rating',  'Location Rating', 'Value Rating', 'Polarity_min',
#    'Polarity_max', 'Polarity_median', 'Polarity_mean']].fillna(-2)

In [28]:
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
# !pip install catboost -q
# from catboost import CatBoostRegressor, Pool  # Now CatBoost is available

num_features = X.select_dtypes(include='number').columns
cat_features = X.select_dtypes(exclude='number').columns

for col in cat_features:
    if X[col].dtype != 'str':
        X[col] = X[col].astype(str)

# Разбиваем данные на обучающую и тестовую выборки
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

# Convert cat_features to a list
cat_features = cat_features.tolist()  # This is the key change

# Создаем модели для обучающей и тестовой выборок с указанием категориальных признаков
train_pool = Pool(X_train, y_train, cat_features=cat_features)
test_pool = Pool(X_test, y_test, cat_features=cat_features)

# Инициализируем и обучаем модель
model = CatBoostRegressor(iterations=2000, learning_rate=0.02, depth=6, verbose=100)
model.fit(train_pool)

# Предсказания на обучающей и тестовой выборках
y_train_pred = model.predict(train_pool)
y_test_pred = model.predict(test_pool)

# Вычисляем метрики для обучающей выборки
train_mse = mean_squared_error(y_train, y_train_pred)
train_mae = mean_absolute_error(y_train, y_train_pred)
train_r2 = r2_score(y_train, y_train_pred)

# Вычисляем метрики для тестовой выборки
test_mse = mean_squared_error(y_test, y_test_pred)
test_mae = mean_absolute_error(y_test, y_test_pred)
test_r2 = r2_score(y_test, y_test_pred)

# Выводим метрики на обучающей выборке
print("Metrics on Training Set:")
print(f"Mean Squared Error: {train_mse}")
print(f"Mean Absolute Error: {train_mae}")
print(f"R^2 Score: {train_r2}")

# Выводим метрики на тестовой выборке
print("\nMetrics on Test Set:")
print(f"Mean Squared Error: {test_mse}")
print(f"Mean Absolute Error: {test_mae}")
print(f"R^2 Score: {test_r2}")


# Выводим важность признаков
feature_importances = model.get_feature_importance(train_pool)
# Create a list of tuples (feature_name, importance)
feature_importance_tuples = []
for feature_index in range(len(feature_importances)):
    if feature_index < len(num_features):
        feature_name = num_features[feature_index]
    else:
        feature_name = cat_features[feature_index - len(num_features)]
    importance = feature_importances[feature_index]
    feature_importance_tuples.append((feature_name, importance))

# Sort the list of tuples by importance in descending order
feature_importance_tuples.sort(key=lambda x: x[1], reverse=True)

# Print the sorted feature importances
for feature_name, importance in feature_importance_tuples:
    print(f'Feature: {feature_name}, Importance: {importance}')

0:	learn: 38.3131080	total: 21.6ms	remaining: 43.2s
100:	learn: 26.3299259	total: 4.92s	remaining: 1m 32s
200:	learn: 24.9841707	total: 7.97s	remaining: 1m 11s
300:	learn: 24.4313329	total: 9.66s	remaining: 54.5s
400:	learn: 24.0418259	total: 11.3s	remaining: 45s
500:	learn: 23.6872599	total: 12.9s	remaining: 38.5s
600:	learn: 23.3404876	total: 14.6s	remaining: 34s
700:	learn: 23.0456797	total: 17.9s	remaining: 33.2s
800:	learn: 22.7712804	total: 19.5s	remaining: 29.2s
900:	learn: 22.5150716	total: 21s	remaining: 25.7s
1000:	learn: 22.2977838	total: 22.5s	remaining: 22.4s
1100:	learn: 22.1029496	total: 23.9s	remaining: 19.5s
1200:	learn: 21.9107532	total: 25.4s	remaining: 16.9s
1300:	learn: 21.7194403	total: 26.9s	remaining: 14.4s
1400:	learn: 21.5350141	total: 29.2s	remaining: 12.5s
1500:	learn: 21.3684121	total: 31.6s	remaining: 10.5s
1600:	learn: 21.2072857	total: 33.1s	remaining: 8.26s
1700:	learn: 21.0520914	total: 34.6s	remaining: 6.08s
1800:	learn: 20.9200041	total: 36.1s	remaining: 3.98s
1900:	learn: 20.7714214	total: 37.6s	remaining: 1.96s
1999:	learn: 20.6272132	total: 39.1s	remaining: 0us
Metrics on Training Set:
Mean Squared Error: 433.91113265978936
Mean Absolute Error: 14.0138240181552
R^2 Score: 0.7100083876359924

Metrics on Test Set:
Mean Squared Error: 594.1295128908387
Mean Absolute Error: 15.905873275884671
R^2 Score: 0.5992639925615134
Feature: Bedrooms, Importance: 17.276033677955933
Feature: Beds, Importance: 11.661835865143493
Feature: Min Nights, Importance: 9.825720174252726
Feature: Accuracy Rating, Importance: 5.717310688116702
Feature: Guests Included, Importance: 5.107547998851442
Feature: Latitude, Importance: 4.339063365884695
Feature: Neighborhood Group, Importance: 4.257955590479818
Feature: Reviews Log, Importance: 3.438847468301295
Feature: Room Type, Importance: 3.348803553063521
Feature: Host Response Rate, Importance: 3.339247206054202
Feature: Distance_from_center, Importance: 3.2076320591983296
Feature: Is Exact Location, Importance: 3.164561042497747
Feature: Is Rating, Importance: 2.730785725418513
Feature: Property Type, Importance: 2.512353507805564
Feature: Cleanliness Rating, Importance: 2.1109366931511104
Feature: Last Review Years, Importance: 2.026228180668739
Feature: Polarity_max, Importance: 1.9198597605736463
Feature: Overall Rating, Importance: 1.9186975369017916
Feature: First Review Years, Importance: 1.911490677929643
Feature: neighbourhood, Importance: 1.740709889881307
Feature: Checkin Rating, Importance: 1.5465872027013547
Feature: Longitude, Importance: 1.3430032851122962
Feature: Host Since Years, Importance: 1.1948240542746111
Feature: Location Rating, Importance: 1.0983838969936686
Feature: Polarity_mean, Importance: 0.6654053040706618
Feature: Host Response Time, Importance: 0.5547776349862987
Feature: Is Superhost, Importance: 0.38739857004186756
Feature: Accomodates, Importance: 0.38123600513566724
Feature: Polarity_min, Importance: 0.295820934437374
Feature: Bathrooms, Importance: 0.21320439443603387
Feature: Communication Rating, Importance: 0.2102429413281709
Feature: Polarity_median, Importance: 0.19457394832619462
Feature: Value Rating, Importance: 0.1765437962816423
Feature: Instant Bookable, Importance: 0.16299466460850368
Feature: Postal Code, Importance: 0.019382705135499747

In [ ]:
X = apartments.drop(['Listing ID', 'Price'], axis=1)
y = apartments['Price']

# Encoding

Converting categorical data to numerical

In [ ]:
categorical_cols = apartments.select_dtypes(exclude='number').columns
for col in categorical_cols:
  print(f"Value counts for column '{col}' :")
  print(apartments[col].value_counts())
  print(f"NaN values: {apartments[col].isnull().sum()} ")
  print()
  print()

In [ ]:
# Perform one-hot encoding and drop the first column
neighborhood_dummies = pd.get_dummies(apartments['Neighborhood Group'], prefix='Neighborhood', drop_first=True)

# Concatenate the dummy variables with the original DataFrame
apartments = pd.concat([apartments, neighborhood_dummies], axis=1)

In [ ]:
numeric_columns = apartments.select_dtypes(include=['number']).columns

print(numeric_columns)

Index(['Host Response Time', 'Host Response Rate', 'Is Superhost', 'Latitude',
       'Longitude', 'Is Exact Location', 'Property Type', 'Room Type',
       'Accomodates', 'Bathrooms', 'Bedrooms', 'Beds', 'Price',
       'Guests Included', 'Min Nights', 'Reviews', 'Overall Rating',
       'Accuracy Rating', 'Cleanliness Rating', 'Checkin Rating',
       'Communication Rating', 'Location Rating', 'Value Rating',
       'Instant Bookable', 'Polarity_min', 'Polarity_max', 'Polarity_median',
       'Polarity_mean', 'Host Since Years', 'Last Review Years',
       'First Review Years', 'Latitude_Bin', 'Longitude_Bin', 'Price Log',
       'Reviews Log', 'Distance_from_center'],
      dtype='object')

In [ ]:
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

numeric_columns = numeric_columns.drop(['Price Log'])

df = apartments[numeric_columns].copy()

# Предположим, что df - ваш датафрейм
X = df.drop('Price', axis=1)
y = df['Price']

# Создаем модель Лассо
model = Lasso(alpha=0.1)  # Параметр alpha регулирует степень регуляризации
model.fit(X, y)
y_pred = model.predict(X)

r2 = r2_score(y, y_pred)
mae = mean_absolute_error(y, y_pred)
mse = mean_squared_error(y, y_pred)
rmse = mean_squared_error(y, y_pred, squared=False)

print(f"\n Lasso")
print(f"R^2: {r2:.4f}")
print(f"MAE: {mae:.4f}")
print(f"MSE: {mse:.4f}")
print(f"RMSE: {rmse:.4f}")


# Важность признаков
feature_importance = pd.Series(model.coef_, index=X.columns).sort_values(ascending=False)
print("Feature importance using Lasso:")
print(feature_importance)

ValueError: Input X contains NaN.
Lasso does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
#apartments.to_excel('apartments_6.xlsx', index=False)

# import pickle
with open('apartments6.pkl', 'wb') as f:
    pickle.dump(apartments, f)

# Average of neighbors calculation

In [ ]:
def weighted_location_rating(lat, lon, lat_bin, lon_bin, df, target_col, weight_col, primary_threshold_m=250,
                             primary_bin_range = 1,  secondary_threshold_m=500, secondary_bin_range = 2):

    epsilon = 0.03  # Маленькое значение для предотвращения деления на ноль
    #  determine_bins(lat, lon, lat_bin, lon_bin)
    lat_bin = np.digitize(lat, lat_bin) - 1
    lon_bin = np.digitize(lon, lon_bin) - 1

    def calculate_weighted_average(threshold_km, bin_range):
        weighted_sum = 0
        total_weight = 0

        # objects from the nearest bins
        nearby_bins = df[(df['Latitude_Bin'] >= lat_bin - bin_range) & (df['Latitude_Bin'] <= lat_bin + bin_range) &
                         (df['Longitude_Bin'] >= lon_bin - bin_range) & (df['Longitude_Bin'] <= lon_bin + bin_range)]

        for i in range(len(nearby_bins)):
            lat_i, lon_i = nearby_bins.iloc[i]['Latitude'], nearby_bins.iloc[i]['Longitude']
            dist_km = great_circle((lat, lon), (lat_i, lon_i)).kilometers
            if dist_km <= threshold_km:
                weight = 1 / (dist_km + epsilon) * nearby_bins.iloc[i][weight_col]
                weighted_sum += nearby_bins.iloc[i][target_col] * weight
                total_weight += weight

        return weighted_sum, total_weight

    # Первоначальный расчет для соседних бинов (±1) и порога 500 метров
    threshold_km = primary_threshold_m / 1000
    weighted_sum, total_weight = calculate_weighted_average(threshold_km, bin_range = primary_bin_range)

    # Если нет точек в соседних бинах, увеличиваем диапазон до ±2 и порог до 1000 метров
    if total_weight == 0:
        threshold_km = secondary_threshold_m / 1000
        weighted_sum, total_weight = calculate_weighted_average(threshold_km, secondary_bin_range)  # для 500 бин 1

    if total_weight == 0:
        return np.nan # Если нет соседей, возвращаем 8 1/2, а не np.nan
    weighted_avg = weighted_sum / total_weight
    return weighted_avg

df = apartments[['Latitude', 'Longitude', 'Latitude_Bin', 'Longitude_Bin','Location Rating Roughly','Reviews Log']]
df.dropna(inplace=True)
print(df.shape)
df = df.reset_index(drop=True)


# Пример использования функции
lat = 52.489182
lon = 13.416555
weighted_rating = weighted_location_rating(lat, lon, lat_bin, lon_bin, df, weight_col = 'Reviews Log',
            target_col = 'Location Rating Roughly', primary_threshold_m=150, primary_bin_range = 1,
            secondary_threshold_m=500, secondary_bin_range = 2)
print(f"Weighted Location Rating: {weighted_rating}")

(16139, 6)
Weighted Location Rating: 9.620934607762823